# RewriteEngine
RewriteEngine on

# Rewrite Rules (Slim)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# Disallow access to backend directory
RewriteRule ^(backend/) - [F,L,NC]

# Disable indexes
Options -Indexes

Order Deny,Allow

# Allow access only to specific files
Deny from all
<FilesMatch ".*\.(html|css|js|woff|jpe|jpg|jpeg|gif|png|bmp|ico|svg|svgz|tif|tiff|ai|drw|pct|psp|xcf|psd|raw)$">
    Allow from all
</FilesMatch>

<FilesMatch "^(index.php|)$">
    Allow from all
</FilesMatch>