/* Defaults */
html { position: relative; min-height: 100%; }
* {margin: 0; padding: 0; border: 0; outline: 0;}
.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.center {margin: 0px auto;}
.textcenter {text-align: center;}
.centerTable {margin: 0px auto; display: table;}
.textleft {text-align: left;}
.textright {text-align: right;}
.noflow {overflow: hidden;}
.inline {display: inline-block;}
.noheight {height: 0px;}

body {
    background-color: white;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    overflow-y: scroll;
    padding-top: 50px; /* total navi height here */
    margin-bottom: 100px; /* total footer height nere */
}

a,a:hover,a:visited,a:active {
    color: rgb(0, 150, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar .container {
    max-width: 1000px;
}

.navbar a {
    cursor: pointer;
}

.navbar .active a,
.navbar a:hover {
    background-image: none !important;
    background-color: rgb(0, 150, 255) !important;
}

#content {
    max-width: 1000px;
    padding: 20px 15px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px; /* fixed footer height here */
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: white;
}

footer .center {
    max-width: 1000px;
    padding: 30px 15px;
}
