#userscriptsWrapper {
    padding: 20px 0px;
}

.table-responsive tbody tr:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

form input[type="text"] {
    width: 200px;
    margin-bottom: 10px;
}